<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>SpaceX Technologies</h1>
    <span class="example-spacer"></span>
    Ulka G
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with person icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>

    <mat-list-nav>
      <span>
        <button mat-button routerLink="dashboard"> Dashboard</button>
      </span>
    </mat-list-nav>

    <mat-nav-list>
      <span>
        <button mat-button [matMenuTriggerFor]="dropDown">
          Launches
          <mat-icon class="ml-1">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #dropDown="matMenu" overlapTrigger="false">
          <button mat-menu-item>
            <span>All Launches</span>
          </button>
          <button mat-menu-item>
            <span>One Launch</span>
          </button>
        </mat-menu>
      </span>
    </mat-nav-list>

    <mat-nav-list>
      <span>
        <button mat-button [matMenuTriggerFor]="dropDown1">
          Launch Pads
          <mat-icon class="ml-1">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #dropDown1="matMenu" overlapTrigger="false">
          <button mat-menu-item>
            <span>All Launchpads</span>
          </button>
          <button mat-menu-item>
            <span>One Launchpad</span>
          </button>
        </mat-menu>
      </span>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>